## Fake data analysis

In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

import os

import torch

import warnings
warnings.filterwarnings("ignore")

In [7]:
is_cuda = torch.cuda.is_available()
device = torch.device('cuda' if is_cuda else 'cpu')
print(device)

cuda

In [17]:
fake_data_path = "C:/Users/GCU/Lending_club/Data_Analysis_lending-club/tablegan/samples/defalut_original/defalut_original_OI_11_00_fake.csv"
fake_data = pd.read_csv(fake_data_path)

fake_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 65 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   loan_amnt                   500000 non-null  float64
 1   funded_amnt                 500000 non-null  float64
 2   funded_amnt_inv             500000 non-null  float64
 3   term                        500000 non-null  object
 4   int_rate                    500000 non-null  float64
 5   installment                 500000 non-null  float64
 6   grade                       500000 non-null  object
 7   sub_grade                   500000 non-null  object
 8   home_ownership              500000 non-null  object
 9   annual_inc                  500000 non-null  float64
 10  verification_status         500000 non-null  object
 11  zip_code                    500000 non-null  float64
 12  addr_state                  500000 non-null  object
 13  dti                         500000 non-null  float64
 14  delinq_2yrs                 500000 non-null  float64
 15  earliest_cr_line            500000 non-null  float64
 16  fico_range_low              500000 non-null  float64
 17  fico_range_high             500000 non-null  float64
 18  inq_last_6mths              500000 non-null  float64
 19  open_acc                    500000 non-null  float64
 20  pub_rec                     500000 non-null  float64
 21  revol_bal                   500000 non-null  float64
 22  revol_util                  500000 non-null  float64
 23  total_acc                   500000 non-null  float64
 24  initial_list_status         500000 non-null  object
 25  collections_12_mths_ex_med  500000 non-null  float64
 26  application_type            500000 non-null  object
 27  acc_now_delinq              500000 non-null  float64
 28  tot_coll_amt                500000 non-null  float64
 29  tot_cur_bal                 500000 non-null  float64
 30  total_rev_hi_lim            500000 non-null  float64
 31  acc_open_past_24mths        500000 non-null  float64
 32  avg_cur_bal                 500000 non-null  float64
 33  bc_open_to_buy              500000 non-null  float64
 34  bc_util                     500000 non-null  float64
 35  chargeoff_within_12_mths    500000 non-null  float64
 36  delinq_amnt                 500000 non-null  float64
 37  mo_sin_old_rev_tl_op        500000 non-null  float64
 38  mo_sin_rcnt_rev_tl_op       500000 non-null  float64
 39  mo_sin_rcnt_tl              500000 non-null  float64
 40  mort_acc                    500000 non-null  float64
 41  mths_since_recent_bc        500000 non-null  float64
 42  num_accts_ever_120_pd       500000 non-null  float64
 43  num_actv_bc_tl              500000 non-null  float64
 44  num_actv_rev_tl             500000 non-null  float64
 45  num_bc_sats                 500000 non-null  float64
 46  num_bc_tl                   500000 non-null  float64
 47  num_il_tl                   500000 non-null  float64
 48  num_op_rev_tl               500000 non-null  float64
 49  num_rev_accts               500000 non-null  float64
 50  num_rev_tl_bal_gt_0         500000 non-null  float64
 51  num_sats                    500000 non-null  float64
 52  num_tl_30dpd                500000 non-null  float64
 53  num_tl_90g_dpd_24m          500000 non-null  float64
 54  num_tl_op_past_12m          500000 non-null  float64
 55  pct_tl_nvr_dlq              500000 non-null  float64
 56  percent_bc_gt_75            500000 non-null  float64
 57  pub_rec_bankruptcies        500000 non-null  float64
 58  tax_liens                   500000 non-null  float64
 59  tot_hi_cred_lim             500000 non-null  float64
 60  total_bal_ex_mort           500000 non-null  float64
 61  total_bc_limit              500000 non-null  float64
 62  total_il_high_credit_limit  500000 non-null  float64
 63  hardship_flag               500000 non-null  object
 64  debt_settlement_flag        500000 non-null  object
dtypes: float64(55), object(10)
memory usage: 248.0+ MB

In [18]:
fake_data.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,25575.0,26225.0,25600.0,60 months,7.07,850.14,G,C2,MORTGAGE,45038.0,...,100.0,47.1,1.0,1.0,162667.0,21361.0,54000.0,2240.0,Y,Y
1,17225.0,17450.0,16475.0,60 months,9.99,441.35,B,A2,MORTGAGE,257000.0,...,97.5,2.2,1.0,1.0,284005.0,57377.0,26912.0,3813.0,Y,Y
2,5100.0,5225.0,5375.0,60 months,11.80,163.04,C,A2,MORTGAGE,28905.0,...,100.0,100.0,1.0,1.0,41921.0,37210.0,10530.0,14323.0,Y,Y
3,23925.0,23650.0,22375.0,60 months,12.29,571.74,C,D5,MORTGAGE,43950.0,...,100.0,26.1,1.0,1.0,50675.0,56441.0,7925.0,11508.0,N,Y
4,24825.0,25450.0,25375.0,60 months,21.15,662.51,A,A4,MORTGAGE,94644.0,...,100.0,52.2,1.0,1.0,320139.0,92583.0,24150.0,20610.0,Y,Y

In [ ]:
"""data_path = "C:/Users/GCU/Lending_club/Data_Analysis_lending-club/tablegan/data/defalut_original/defalut_original.csv"
data = pd.read_csv(data_path, low_memory=False)

data.head()"""

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,27600.0,27600.0,27600.0,0,19.97,730.78,0,0,0,73000.0,...,87.5,80.0,0.0,0.0,261675.0,37808.0,19200.0,14075.0,0,0
1,8000.0,8000.0,8000.0,1,10.99,261.88,1,1,0,33000.0,...,100.0,75.0,1.0,0.0,33226.0,15949.0,8200.0,12426.0,0,0
2,10000.0,10000.0,10000.0,0,13.98,232.58,2,2,1,25000.0,...,68.2,100.0,0.0,0.0,40142.0,24419.0,3000.0,28642.0,0,0
3,10400.0,10400.0,10400.0,0,17.57,261.67,0,3,1,105680.0,...,100.0,100.0,0.0,0.0,213593.0,66793.0,9600.0,56993.0,0,0
4,18450.0,18450.0,18450.0,1,13.98,630.40,2,2,1,65000.0,...,96.9,37.5,0.0,0.0,63402.0,23136.0,28100.0,21002.0,0,0

In [19]:
data_path2 = "C:/Users/GCU/Lending_club/Data_Analysis_lending-club/tablegan/data/defalut_original/defalut_real.csv"

data2 = pd.read_csv(data_path2, low_memory=False)

data2.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,27600.0,27600.0,27600.0,60 months,19.97,730.78,D,D5,MORTGAGE,73000.0,...,87.5,80.0,0.0,0.0,261675.0,37808.0,19200.0,14075.0,N,N
1,8000.0,8000.0,8000.0,36 months,10.99,261.88,B,B2,MORTGAGE,33000.0,...,100.0,75.0,1.0,0.0,33226.0,15949.0,8200.0,12426.0,N,N
2,10000.0,10000.0,10000.0,60 months,13.98,232.58,C,C1,RENT,25000.0,...,68.2,100.0,0.0,0.0,40142.0,24419.0,3000.0,28642.0,N,N
3,10400.0,10400.0,10400.0,60 months,17.57,261.67,D,D2,RENT,105680.0,...,100.0,100.0,0.0,0.0,213593.0,66793.0,9600.0,56993.0,N,N
4,18450.0,18450.0,18450.0,36 months,13.98,630.40,C,C1,RENT,65000.0,...,96.9,37.5,0.0,0.0,63402.0,23136.0,28100.0,21002.0,N,N

In [10]:
from sklearn.preprocessing import LabelEncoder

# ✅ 범주형(Object) 컬럼 선택
object_features = data2.select_dtypes(include=['object']).columns

# ✅ 각 범주형 컬럼에 대해 Label Encoding 적용
encoders = {}  # 각 컬럼의 LabelEncoder 저장용
encoded_data = data2.copy()  # 원본 데이터 유지

for col in object_features:
    encoder = LabelEncoder()
    encoded_data[col] = encoder.fit_transform(data2[col])  # 각 컬럼을 개별적으로 변환
    encoders[col] = encoder  # 인코더 저장

# ✅ 각 컬럼의 클래스 확인
for col, encoder in encoders.items():
    print(f"🔹 {col}: {encoder.classes_}")

🔹 term: [' 36 months' ' 60 months']
🔹 grade: ['A' 'B' 'C' 'D' 'E' 'F' 'G']
🔹 sub_grade: ['A1' 'A2' 'A3' 'A4' 'A5' 'B1' 'B2' 'B3' 'B4' 'B5' 'C1' 'C2' 'C3' 'C4'
 'C5' 'D1' 'D2' 'D3' 'D4' 'D5' 'E1' 'E2' 'E3' 'E4' 'E5' 'F1' 'F2' 'F3'
 'F4' 'F5' 'G1' 'G2' 'G3' 'G4' 'G5']
🔹 home_ownership: ['ANY' 'MORTGAGE' 'NONE' 'OTHER' 'OWN' 'RENT']
🔹 verification_status: ['Not Verified' 'Source Verified' 'Verified']
🔹 addr_state: ['AK' 'AL' 'AR' 'AZ' 'CA' 'CO' 'CT' 'DC' 'DE' 'FL' 'GA' 'HI' 'ID' 'IL'
 'IN' 'KS' 'KY' 'LA' 'MA' 'MD' 'ME' 'MI' 'MN' 'MO' 'MS' 'MT' 'NC' 'ND'
 'NE' 'NH' 'NJ' 'NM' 'NV' 'NY' 'OH' 'OK' 'OR' 'PA' 'RI' 'SC' 'SD' 'TN'
 'TX' 'UT' 'VA' 'VT' 'WA' 'WI' 'WV' 'WY']
🔹 initial_list_status: ['f' 'w']
🔹 application_type: ['Individual' 'Joint App']
🔹 hardship_flag: ['N' 'Y']
🔹 debt_settlement_flag: ['N' 'Y']

In [11]:
encoded_data.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,27600.0,27600.0,27600.0,1,19.97,730.78,3,19,1,73000.0,...,87.5,80.0,0.0,0.0,261675.0,37808.0,19200.0,14075.0,0,0
1,8000.0,8000.0,8000.0,0,10.99,261.88,1,6,1,33000.0,...,100.0,75.0,1.0,0.0,33226.0,15949.0,8200.0,12426.0,0,0
2,10000.0,10000.0,10000.0,1,13.98,232.58,2,10,5,25000.0,...,68.2,100.0,0.0,0.0,40142.0,24419.0,3000.0,28642.0,0,0
3,10400.0,10400.0,10400.0,1,17.57,261.67,3,16,5,105680.0,...,100.0,100.0,0.0,0.0,213593.0,66793.0,9600.0,56993.0,0,0
4,18450.0,18450.0,18450.0,0,13.98,630.40,2,10,5,65000.0,...,96.9,37.5,0.0,0.0,63402.0,23136.0,28100.0,21002.0,0,0

In [15]:
##fake data 되돌리기
for col in object_features:
    fake_data[col] = encoders[col].inverse_transform(np.round(fake_data[col]).astype(int))

In [16]:
fake_data.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,5125.0,5275.0,5250.0,60 months,15.57,172.76,C,C3,MORTGAGE,131500.00,...,93.4,100.0,1.0,1.0,39910.0,39484.0,20725.0,44773.0,Y,Y
1,8500.0,8425.0,8625.0,60 months,8.90,288.11,B,G1,OTHER,4475.00,...,100.0,31.2,1.0,1.0,62991.0,23294.0,27250.0,59.0,Y,Y
2,21700.0,22225.0,21375.0,60 months,11.98,733.00,C,A2,MORTGAGE,75072.00,...,100.0,35.7,1.0,1.0,203447.0,40381.0,18800.0,9423.0,Y,Y
3,17825.0,18000.0,17425.0,60 months,12.69,666.51,C,C4,OTHER,43533.25,...,83.9,65.0,1.0,1.0,95460.0,36293.0,10840.0,30845.0,Y,Y
4,16275.0,16475.0,14850.0,60 months,5.93,510.90,G,C2,MORTGAGE,114996.00,...,100.0,0.0,1.0,1.0,341087.0,21459.0,57348.0,400.0,Y,Y

In [ ]:
"""data2 = data2.drop(columns='loan_status')
address = "C:/Users/GCU/Lending_club/Data_Analysis_lending-club/tablegan/data/defalut_original/"
data2.to_csv(path_or_buf=address+"defalut_real.csv", index=False)"""