## Fake data analysis

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

import os

import torch

import warnings
warnings.filterwarnings("ignore")

In [2]:
is_cuda = torch.cuda.is_available()
device = torch.device('cuda' if is_cuda else 'cpu')
print(device)

cuda

In [8]:
fake_data_path = "C:/Users/GCU/Lending_club/Data_Analysis_lending-club/tablegan/samples/defalut_original/defalut_original_OI_11_00_fake.csv"
fake_data = pd.read_csv(fake_data_path)

fake_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 65 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   loan_amnt                   500000 non-null  float64
 1   funded_amnt                 500000 non-null  float64
 2   funded_amnt_inv             500000 non-null  float64
 3   term                        500000 non-null  float64
 4   int_rate                    500000 non-null  float64
 5   installment                 500000 non-null  float64
 6   grade                       500000 non-null  float64
 7   sub_grade                   500000 non-null  float64
 8   home_ownership              500000 non-null  float64
 9   annual_inc                  500000 non-null  float64
 10  verification_status         500000 non-null  float64
 11  zip_code                    500000 non-null  float64
 12  addr_state                  500000 non-null  float64
 13  dti                         500000 non-null  float64
 14  delinq_2yrs                 500000 non-null  float64
 15  earliest_cr_line            500000 non-null  float64
 16  fico_range_low              500000 non-null  float64
 17  fico_range_high             500000 non-null  float64
 18  inq_last_6mths              500000 non-null  float64
 19  open_acc                    500000 non-null  float64
 20  pub_rec                     500000 non-null  float64
 21  revol_bal                   500000 non-null  float64
 22  revol_util                  500000 non-null  float64
 23  total_acc                   500000 non-null  float64
 24  initial_list_status         500000 non-null  float64
 25  collections_12_mths_ex_med  500000 non-null  float64
 26  application_type            500000 non-null  float64
 27  acc_now_delinq              500000 non-null  float64
 28  tot_coll_amt                500000 non-null  float64
 29  tot_cur_bal                 500000 non-null  float64
 30  total_rev_hi_lim            500000 non-null  float64
 31  acc_open_past_24mths        500000 non-null  float64
 32  avg_cur_bal                 500000 non-null  float64
 33  bc_open_to_buy              500000 non-null  float64
 34  bc_util                     500000 non-null  float64
 35  chargeoff_within_12_mths    500000 non-null  float64
 36  delinq_amnt                 500000 non-null  float64
 37  mo_sin_old_rev_tl_op        500000 non-null  float64
 38  mo_sin_rcnt_rev_tl_op       500000 non-null  float64
 39  mo_sin_rcnt_tl              500000 non-null  float64
 40  mort_acc                    500000 non-null  float64
 41  mths_since_recent_bc        500000 non-null  float64
 42  num_accts_ever_120_pd       500000 non-null  float64
 43  num_actv_bc_tl              500000 non-null  float64
 44  num_actv_rev_tl             500000 non-null  float64
 45  num_bc_sats                 500000 non-null  float64
 46  num_bc_tl                   500000 non-null  float64
 47  num_il_tl                   500000 non-null  float64
 48  num_op_rev_tl               500000 non-null  float64
 49  num_rev_accts               500000 non-null  float64
 50  num_rev_tl_bal_gt_0         500000 non-null  float64
 51  num_sats                    500000 non-null  float64
 52  num_tl_30dpd                500000 non-null  float64
 53  num_tl_90g_dpd_24m          500000 non-null  float64
 54  num_tl_op_past_12m          500000 non-null  float64
 55  pct_tl_nvr_dlq              500000 non-null  float64
 56  percent_bc_gt_75            500000 non-null  float64
 57  pub_rec_bankruptcies        500000 non-null  float64
 58  tax_liens                   500000 non-null  float64
 59  tot_hi_cred_lim             500000 non-null  float64
 60  total_bal_ex_mort           500000 non-null  float64
 61  total_bc_limit              500000 non-null  float64
 62  total_il_high_credit_limit  500000 non-null  float64
 63  hardship_flag               500000 non-null  float64
 64  debt_settlement_flag        500000 non-null  float64
dtypes: float64(65)
memory usage: 248.0 MB

In [9]:
fake_data.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10825.0,11850.0,11250.0,1.0,19.72,469.93,3.0,16.0,1.0,33711.53,...,81.3,100.0,1.0,1.0,61558.0,31598.0,6746.0,28246.0,1.0,1.0
1,12075.0,12400.0,12375.0,1.0,8.59,402.60,1.0,30.0,1.0,3500.00,...,98.0,2.2,1.0,1.0,15565.0,21357.0,8270.0,512.0,1.0,1.0
2,10575.0,11225.0,11825.0,1.0,17.56,302.81,1.0,5.0,1.0,94968.00,...,100.0,0.0,1.0,2.0,59678.0,12142.0,5520.0,173.0,1.0,1.0
3,11475.0,11775.0,11275.0,1.0,9.80,381.90,1.0,15.0,2.0,6240.00,...,95.7,45.5,1.0,1.0,56389.0,6159.0,17475.0,385.0,1.0,1.0
4,26175.0,26925.0,25275.0,1.0,13.53,612.47,3.0,11.0,1.0,97900.00,...,98.8,0.0,1.0,1.0,67951.0,30966.0,28150.0,329.0,1.0,1.0

In [6]:
data_path = "C:/Users/GCU/Lending_club/Data_Analysis_lending-club/tablegan/data/defalut_original/defalut_original.csv"
data = pd.read_csv(data_path, low_memory=False)

data.head()

,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,home_ownership,annual_inc,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,27600.0,27600.0,27600.0,0,19.97,730.78,0,0,0,73000.0,...,87.5,80.0,0.0,0.0,261675.0,37808.0,19200.0,14075.0,0,0
1,8000.0,8000.0,8000.0,1,10.99,261.88,1,1,0,33000.0,...,100.0,75.0,1.0,0.0,33226.0,15949.0,8200.0,12426.0,0,0
2,10000.0,10000.0,10000.0,0,13.98,232.58,2,2,1,25000.0,...,68.2,100.0,0.0,0.0,40142.0,24419.0,3000.0,28642.0,0,0
3,10400.0,10400.0,10400.0,0,17.57,261.67,0,3,1,105680.0,...,100.0,100.0,0.0,0.0,213593.0,66793.0,9600.0,56993.0,0,0
4,18450.0,18450.0,18450.0,1,13.98,630.40,2,2,1,65000.0,...,96.9,37.5,0.0,0.0,63402.0,23136.0,28100.0,21002.0,0,0